body {background-color:#290029}
body {color:#FFFFFF}
nav {text-align: right}
h1{font-family:'Papyrus'; line-height:50%; font-size: 300%}
h2{font-family:'Brush Script MT'; line-height:50%; font-size: 200%}
p {text-align: center; font-size: 125%}
a{color:#CCCCEB; font-size: 125%}