body {background-color:#EBF4FA}
body {color:#b09cdb}
nav {font-family:'Arial'; text-align: center;}
h2{font-family:'Papyrus'; line-height:50%; text text-align: right; font-size: 155%}
p {text-align: justify; font-size: 125%}
nav {color:#789dca; text-align: center; font-size: 200%}
#slideshow {display: block; margin-left: auto; margin-right: auto}
#contact {color:#b09cdb; font-size: 100%}