@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
body {background-color:#EBF4FA}
h2{ color:#C09cdb; font-family:'Papyrus', sans-serif; line-height:.25em; text-align: left; font-size: 20px}
nav {color:#789DCA; font-family: 'Bree Serif', serif; text-align: center; line-height: 2em; font-size: 60px}
p {color:#C09cdb; font-family: 'Roboto Slab', serif; text-align: justify; font-size: 16px; width: 560; margin-left: auto; margin-right: auto; line-height: 1.6em}
#slideshow {display: block; margin-left: auto; margin-right: auto}
#contact {color:#c09cdb; font-size: 16px}